/* Responsive Styles */
@media (max-width: 1024px) {
  /* About Section */
  .about-section .content-column .inner-column {
    padding-right: 50px;
    padding-top: 30px;
  }

  .about-section .btn-style-three {
    padding: 10px 30px;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  /* Navbar Section */
  .menu-icons {
    display: block;
  }

  .navbar-links {
    position: absolute;
    top: 100%;
    left: 0;
    background: rgba(3, 1, 66, 0.957);
    flex-direction: column;
    width: 100%;
    text-align: center;
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
  }

  .navbar-links.active {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
  }

  .navbar-links li {
    padding: 1rem 0;
  }

  /* hero section */
  header.hero {
    flex-direction: column;
    text-align: center;
    padding: 60px 20px;
  }
  .hero-content {
    max-height: 270px;
    padding-left: 0;
  }

  /* about */
  .about-section {
    padding: 40px 15px;
    margin: 30px 10px;
    text-align: justify;
  }

  .about-section h2 {
    font-size: 28px;
  }

  .about-content {
    font-size: 16px;
  }

  .contact-info a {
    display: block;
    margin-bottom: 12px;
    margin-right: 0;
  }

  /* skill section */
  .section-title .head {
    font-size: 5rem;
    margin-bottom: 30px;
  }

  .section-title {
    font-size: 1.8rem;
  }

  .skills-group {
    flex-direction: column;
    gap: 25px;
    padding: 60px 10px;
    /* max-width: 1930px; */
  }

  .subsection-title {
    font-size: 1.2rem;
  }

  .skill-name {
    font-size: 0.95rem;
  }

  .skill-detail {
    font-size: 0.88rem;
    padding: 8px;
  }

  /* Experience Section */
  .experience-card {
    padding: 20px;
  }
  .experience-grid {
    padding: 0;
  }

  .job-title {
    font-size: 1.1rem;
  }

  .job-description,
  .job-highlights li {
    font-size: 0.9rem;
  }
  /* Certification Section */

  .section-title {
    font-size: 2rem;
  }

  .swiper-slide {
    padding: 20px 15px;
  }

  .certificate-card h3 {
    font-size: 1.1rem;
  }

  .certificate-card p {
    font-size: 0.95rem;
  }
  .education-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 0;
  }
  .section-title {
    font-size: 1.2rem;
  }
  /* footer */
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-links ul {
    padding: 0;
  }

  .social-icons a {
    margin-right: 10px;
  }
}

@media (max-width: 480px) {
  /* About Secttion */
  /* .sec-title h2 {
    font-size: 1.3rem;
  } */

  /* .sec-title .title {
    font-size: 14px;
    padding-right: 20px;
  } */

  .about-section .btn-style-three {
    padding: 10px 20px;
  }

  /* Skill section */
  .section-title {
    font-size: 2rem;
    margin-bottom: 25px;
  }
}

@media (max-width: 640px) {
}
